<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-splurge-ipc"
	version="0.1.0">

	<name>Splurge IPC</name>
	<description>Inter Process Communication betwween Splurge apps</description>
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<js-module src="www/ipc.js" name="SplurgeIpc">
		<clobbers target="cordova.plugins.SplurgeIpc" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<source-file src="src/android/SplurgeIpc.java" target-dir="src/com/splurgegroup/plugins/splurgeipc" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="SplurgeIpc">
				<param name="android-package" value="com.splurgegroup.plugins.splurgeipc.SplurgeIpc" />
			</feature>
		</config-file>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="SplurgeIpc">
				<param name="ios-package" value="SplurgeIpc"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SplurgeIpc.h" />
		<source-file src="src/ios/SplurgeIpc.m" />
	</platform>

</plugin>
